h1,h2,h3,h4{
    font-family: 'Bebas Neue', cursive;
}
a,p{
    font-weight: 500;
}
.background{
    background-color: #FFFBF0;
}
.jacket-background{
    background-color: #F1F1F1;
}
.text-highlight1{
    color: #FABE4C;
}
.text-highlight2{
    color: #363958;
    font-weight: bold;
}
.img-height{
    height: 373px;
}
.price{
    margin-bottom: 0;
    font-size: 25px;
    color: #FABE4C;
}
.card-footer-border{
    border: none;
    background-color: white;
}
.card-body-border{
    border: none;
}

/* Counter Section Responsive */

@media (min-width: 768px) and (max-width: 991px){
    .col-md-3{
        width: 50%;
    }
}

/* Service Section Responsive */

@media (min-width: 768px) and (max-width: 991px){
    .col-md-4 {
        flex: 0 0 auto;
        width: 68.333333%;
        margin: auto;
    }
}

/* Image Section Responsive */

@media (min-width: 768px) and (max-width: 991px){
    .col-md-8{
        margin: auto;
    }
}
